@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-title: var(--tiffany);
  --animate-pulse1: pulse1 2s ease-in-out infinite;

  @keyframes pulse1 {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #171717;
    color: #171717;
    scroll-behavior: smooth;
  }
}
